version: '3.8'

services:
  database:
    image: postgres:17.4-alpine3.21
    container_name: translate_docs_db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - translate_network

  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: translate_docs_backend
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      database:
        condition: service_healthy
    volumes:
      - ./src:/app/src
      - ./alembic:/app/alembic
    networks:
      - translate_network

volumes:
  postgres_data:

networks:
  translate_network:
    driver: bridge
